<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>

   <h1>Signup</h1>
    <form method="POST">
      <label for="SUemail">Email:</label><br>
      <input type="email" id="SUemail" name="SUemail" value="Email:"><br>
      <label for="SUpassword">Password:</label><br>
      <input type="text" id="SUpassword" name="SUpassword" value="Password:"><br><br>
      <input type="submit" value="Submit">
    </form>


<h1>{{ email }}</h1>
<h1>{{ password }}</h1>
</body>
</html>